body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    border: 1px solid #000000;

}
